
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* ### Fim imports */
/* ######################################## */

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    /* ## Font */
    --primary-font: 'Outfit', sans-serif;
}

/* ### Fim variáveis */
/* ######################################## */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--grayish-blue);
}

.container {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 16px;
    background-color: var(--white);
    border-radius: 15px;
}

.code {
    width: 320px;
}
.code img {
    width: 100%;
    border-radius: 10px;
}

.description {
    width: 100%;
}
.description .title {
    font-family: var(--primary-font);
    font-size: 1.5714285714285714em;
    font-weight: 700;
    color: var(--dark-blue);
    text-align: center;
    margin-top: 24px;
}
.description .text {
    font-family: var(--primary-font);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    line-height: 22px;
    color: var(--dark-blue);
    margin-top: 12px;
    margin-bottom: 40px;
    padding: 20px;
}